# **Übungsaufgaben DDL**

Dieser Übungsblock enthält Aufgaben zum Thema _Datenbankschema (DDL)_. Löse die Aufgaben in der gestellten Reihenfolge.

## CREATE

**1.1** Damit die Kunden in einer Bestellung mehrere Produkte bestellen können, ist in der Datenbank (Schema _verkauf_) eine weitere Tabelle nötig. Erstelle hierfür die Tabelle _bestellpositionen_ mit den folgenden Attributen in der vorgegebenen Reihenfolge: 
- _id_: Primärschlüsselspalte, exakter numerischer Wert, Auto-Inkrement
- _bestellid_: exakter numerischer Wert, darf nicht leer sein
- _produktid_: exakter numerischer Wert, darf nicht leer sein
- _menge_: exakter numerischer Wert, darf nicht leer sein

In [2]:
-- Stelle sicher, dass du dich in der richtigen Datenbank befindest!
USE m106
CREATE TABLE verkauf.bestellpostionen (
    id int IDENTITY(1,1) PRIMARY KEY,
    bestellid int NOT NULL,
    produktid int NOT NULL,
    menge int NOT NULL
);

**1.2** Für die Speicherung von sensitiven Daten erstellst du ein neues Schema mit dem Namen _intern_.

In [3]:
CREATE SCHEMA intern;

**1.3** In dem neu erstellten Schema erstellst du nun die Tabelle _mitarbeiter_ gemäss dieser Definition:
- _mitarbeiterid_: Primärschlüsselspalte, exakt numerischer Wert, Auto-Inkrement 
- _vorname_: Character String, kann leer sein
- _nachname_: Character String, darf nicht leer sein
- _geschlecht_: Character String, darf nicht leer sein und nur die Werte _m_, _w_, _n_ enthalten
- _geburtsdatum_: Datum, darf nicht leer sein
- _anstellungsdatum_: Datum, darf leer sein
- _kader_: Boolean Datentyp, darf leer sein

In [4]:
CREATE TABLE intern.mitarbeiter(
    mitarbeiterid INT PRIMARY KEY ,
    vorname VARCHAR(50),
    nachname VARCHAR(50) NOT NULL,
    geschlecht CHAR(1) NOT NULL CHECK (geschlecht IN ('m','w','d')),
    geburtsdatum DATE NOT NULL,
    anstellungsdatum DATE,
    kadar BIT 

)

In [ ]:
-- anschliessende Kontrolle, ob die Tabelle wie definiert in der DB existiert

**1.4** Um den Mitarbeitern Löhne auszahlen zu können, wird eine Tabelle namens _lohnkonto_ benötigt, in welcher die folgenden Informationen gespeichert werden sollen (Achtung: es geht hier um sensitive Daten):
- _kontoid_: Primärschlüsselspalte, exakt numerischer Wert, Auto-Inkrement
- _iban_: Character String, darf nicht leer sein
- _mitarbeiterid_: exakt numerischer Wert, darf nicht leer sein, Fremdschlüssel zu _intern.mitarbeiter.mitarbeiterid_
- _gueltigab_: Datum, darf nicht leer sein
- _gueltigbis_: Datum, darf leer sein

In [6]:
CREATE TABLE intern.lohnkonto (
    kontoid int PRIMARY KEY IDENTITY(1,1),
    iban VARCHAR(50) NOT NULL,
    mitarbeiterid INT NOT NULL ,
    gueltigab DATE NOT NULL,
    gueltigbis DATE,
    CONSTRAINT fk_mitarbeiterid FOREIGN KEY (mitarbeiterid) REFERENCES intern.mitarbeiter(mitarbeiterid)
)

## ALTER

**2.1** Erweitere die Tabelle _bestellpositionen_ um die neue Spalte _rabatt_ (exakt numerischer Wert).

In [7]:
ALTER TABLE verkauf.bestellpostionen ADD rabatt INT

**2.2** Stelle sicher, dass in der Mitarbeiter-Tabelle auch Vor- und Nachnamen mit Zeichen aus dem Unicode-Zeichensatz gespeichert werden können.

In [ ]:
ALTER TABLE intern.mitarbeiter ALTER COLUMN vorname AND

**2.3** Füge der Mitarbeiter-Tabelle auch gleich noch das neue Feld _email_ hinzu. Bestimme selbst, welcher Datentyp hier der geeignetste ist.

**2.4** Das Attribut _kader_ ist in der Tabelle _intern.mitarbeiter_ fehl am Platz. Bitte entferne dieses aus der Tabelle.

## Schlüsselfelder und Constraints

**3.1** Der Tabelle _verkauf.bestellpositionen_ fehlen noch die Fremdschlüssel. Überlege dir, welche das sind und füge sie hinzu.

**3.2** Bei der Tabelle _lohnkonto_ soll auf der Spalte _gueltigbis_ der Standard-Wert '31.12.9999' definiert werden. Bitte nimm diese Änderung vor.