# Datenbankschema (DDL)

In [2]:
USE master;
CREATE DATABASE m106
GO

: Msg 1801, Level 16, State 3, Line 2
Database 'm106' already exists. Choose a different database name.

In [3]:
USE m106;
GO
CREATE SCHEMA verkauf;
GO

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'verkauf' in the database.

: Msg 2759, Level 16, State 0, Line 3
CREATE SCHEMA failed due to previous errors.

In [4]:
-- Tabelle kunden im Schema verkauf erstellen
CREATE TABLE verkauf.kunden (
    kundenid INT IDENTITY(1,1),
    vorname VARCHAR(30),
    nachname VARCHAR(30)
);
-- Lege zum Vergleich dieselbe Tabelle im Standardschema an

-- Tabelle bestellungen im Schema verkauf erstellen
CREATE TABLE verkauf.bestellungen (
    bestellid INT IDENTITY(1,1),
    bestelldatum DATE,
    kundenid INT
);

In [1]:
-- Aufruf der gespeicherten Prozedur sp_columns
EXEC sp_columns @table_name = N'kunden',  @table_owner = N'verkauf';

In [3]:
-- neue Spalte bestellwert hinzufügen
USE m106
ALTER TABLE verkauf.bestellungen ADD bestellwert DECIMAL(10,2);

In [4]:
EXEC sp_rename 'verkauf.bestellungen.bestellwert', 'bestellbetrag', 'COLUMN';

In [5]:
-- Länge der Spalte vornamen auf 50 ändern
ALTER TABLE verkauf.kunden ALTER COLUMN vorname VARCHAR(50);

In [6]:
-- Datentyp der Spalte bestelldatum zu DATETIME ändern
ALTER TABLE verkauf.bestellungen ALTER COLUMN bestelldatum DATETIME;

In [7]:
-- Spalte bestellbetrag aus der Tabelle löschen
ALTER TABLE verkauf.bestellungen DROP column bestellbetrag;

In [8]:
-- Tabelle bestellungen im Schema verkauf löschen
DROP TABLE verkauf.bestellungen;

In [9]:
CREATE TABLE verkauf.bestellungen(
    bestellid INT IDENTITY(1,1),
    bestelldatum DATETIME,
    kundenid INT
);

In [10]:
-- Gesamten Inhalt der Tabelle bestellungen löschen
TRUNCATE TABLE verkauf.bestellungen;

In [11]:
-- Primärschlüssel beim Erstellen der neuen Tabelle produkte definieren
CREATE TABLE verkauf.produkte (
    produktid INT IDENTITY(1,1) PRIMARY KEY,
    produktname VARCHAR(100),
    preis MONEY,
    energielabel CHAR(1)
);

In [12]:
-- Primärschlüssel auf der Tabelle kunden nachträglich definieren
ALTER TABLE verkauf.kunden ADD PRIMARY KEY (kundenid);

-- Primärschlüssel auf der Tabelle bestellungen nachträglich definieren
ALTER TABLE verkauf.bestellungen ADD PRIMARY KEY (bestellid);

In [13]:
/*
Fremdschlüssel auf der Tabelle bestellungen definieren, welcher auf die Primär-
schlüsselspalte der Tabelle kunden verweist
*/
ALTER TABLE verkauf.bestellungen  
ADD CONSTRAINT fk_bestellungen_kunden FOREIGN KEY (kundenid) 
REFERENCES verkauf.kunden(kundenid);

/* 
Identisches Beispiel mit dem Unterschied, dass der Constraint nicht explizit 
benannt wird

ALTER TABLE verkauf.bestellungen  
ADD FOREIGN KEY (kundenid) REFERENCES verkauf.kunden(kundenid);
*/

In [14]:
-- keine leeren Werte in der Spalte nachname zulassen
ALTER TABLE verkauf.kunden ALTER COLUMN nachname VARCHAR(30) NOT NULL;

In [15]:
-- Standartwert in der Spalte vorname setzen
ALTER TABLE verkauf.kunden ADD DEFAULT 'unbekannt' FOR vorname;

In [16]:
/* 
Regel hinzufügen, dass in der Spalte bestelldatum nur Datumswerte eingefügt werden
dürfen, welche nicht älter als 01.01.2020 sind
*/
ALTER TABLE verkauf.bestellungen ADD CHECK (bestelldatum > '2019-12-31');

-- Regel definieren, dass in der Spalte energielabel nur bestimmte Werte erlaubt sind
ALTER TABLE verkauf.produkte ADD CHECK (energielabel IN ('A','B','C','D','E'));

In [ ]:
USE master;
GO

ALTER DATABASE m106 SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO
DROP DATABASE m106;
GO