# Operationen (DML)

In [18]:
USE m106;
GO
-- Record einfügen mit expliziter Angabe der Spalten
-- Achtung: Reihenfolge der Values muss stimmen
INSERT INTO verkauf.kunden (vorname, nachname) VALUES ('Hans', 'Meier');

In [19]:
-- Record einfügen ohne Angabe der Spalten
INSERT INTO verkauf.kunden VALUES ('Peter', 'Müller');

In [3]:
-- Record einfügen, bei dem der Default-Constraint greift
INSERT INTO verkauf.kunden (nachname) VALUES ('Matter');

In [20]:
-- Beispiel einer Fremdschlüsselverletzung
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) 
VALUES ('21.07.2023 10:34:05', 10)

: Msg 242, Level 16, State 3, Line 2
The conversion of a varchar data type to a datetime data type resulted in an out-of-range value.

In [21]:
-- Beispiel, bei dem der CHECK-Constraint verletzt wird 
INSERT INTO verkauf.produkte (produktname, energielabel) VALUES ('Elektrogrill', 'G');

: Msg 547, Level 16, State 0, Line 2
The INSERT statement conflicted with the CHECK constraint "CK__produkte__energi__5AEE82B9". The conflict occurred in database "m106", table "verkauf.produkte", column 'energielabel'.

In [22]:
-- mehrere Records mit einem Statement in die Tabelle kunden einfügen
INSERT INTO verkauf.kunden (vorname, nachname) 
VALUES ('Bruno', 'Moser'), ('Heinz', 'Manser');

-- mehrere Records mit einem Statement in die Tabelle produkte einfügen
INSERT INTO verkauf.produkte VALUES 
('Zitronenpresse',4.9,'A'), 
('Gartenlounge',224,NULL), 
('Fahrradträger',334.5,NULL), 
('Weinkühlschrank',139,'C');

-- mehrere Bestellungen mit einem Statement erfassen
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) VALUES 
('2023.09.10 11:20:07', 1),
('2023.11.05 17:43:13', 2),
('2023.12.27 09:32:55', 4);

: Msg 547, Level 16, State 0, Line 13
The INSERT statement conflicted with the FOREIGN KEY constraint "fk_bestellungen_kunden". The conflict occurred in database "m106", table "verkauf.kunden", column 'kundenid'.

In [23]:
-- Vorname und Nachname eines Kunden ändern
UPDATE verkauf.kunden
SET vorname = 'Pete', nachname = 'Muller'
WHERE kundenid = 2;

-- Nachname eines Kunden ändern
UPDATE verkauf.kunden 
SET nachname = 'Meyer' 
WHERE nachname = 'Meier';

In [24]:
-- Kunde mit der kundenid 3 löschen
DELETE FROM verkauf.produkte WHERE produktid = 3;

In [25]:
/*
Damit die Update-Weitergabe aktiviert werden kann, muss zunächst der
bestehende Fremdschlüssel entfernt werden
*/
ALTER TABLE verkauf.bestellungen DROP CONSTRAINT fk_bestellungen_kunden;

In [26]:
-- Updates auf der Primärschlüssel-Spalte automatisch weitergeben
ALTER TABLE verkauf.bestellungen  
ADD CONSTRAINT fk_bestellungen_kunden FOREIGN KEY (kundenid) 
REFERENCES verkauf.kunden(kundenid) ON UPDATE CASCADE;

In [27]:
ALTER TABLE verkauf.bestellungen  
ADD CONSTRAINT fk_bestellungen_kunden FOREIGN KEY (kundenid) 
REFERENCES verkauf.kunden(kundenid) ON UPDATE CASCADE ON DELETE CASCADE;

: Msg 2714, Level 16, State 5, Line 1
There is already an object named 'fk_bestellungen_kunden' in the database.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.

In [28]:
-- Kunde mit der kundenid 2 löschen
DELETE FROM verkauf.kunden WHERE kundenid = 2;

In [29]:
ALTER TABLE verkauf.bestellungen DROP CONSTRAINT fk_bestellungen_kunden;

In [30]:
ALTER TABLE verkauf.bestellungen  
ADD CONSTRAINT fk_bestellungen_kunden FOREIGN KEY (kundenid) 
REFERENCES verkauf.kunden(kundenid) ON UPDATE CASCADE ON DELETE CASCADE;