# Funktionen

## Datums- und Uhrzeitfunktionen

In [4]:
SELECT DATEADD(year, 3, '2017-08-25') AS DateAdd;

DateAdd
2020-08-25 00:00:00.000